<html>
<head><title>My Game</title>

    <style>
	    .pixelated {
		    image-rendering: -moz-crisp-edges;
		    image-rendering: -o-crisp-edges;
		    -ms-interpolation-mode: nearest-neighbor;
		    image-rendering: pixelated;
	    }
    </style>

    <script>
        document.addEventListener(
            "keydown",
            (event) => {
                const keyName = event.key;

                if (keyName === "Control") {
                    // do not alert when only Control key is pressed.
                    return;
                }

                if (event.ctrlKey) {
                    // Even though event.key is not 'Control' (e.g., 'a' is pressed),
                    // event.ctrlKey may be true if Ctrl key is pressed at the same time.
                    alert(`Combination of ctrlKey + $\{keyName\}`);
                } else {
                    alert(`Key pressed $\{keyName\}`);
                }
            },
            false
        );
    </script>
</head>
<body>
<img src="data:image/jpeg;base64, {mainViewData}" height="96%" />
</body>
</html>